body {
    font-family: 'Open Sans', sans-serif !important;
}

.title {
    position: relative;
    padding-top    : 40px;
    font-weight    : bold;
    font-size      : 16px;
    display: flex;
    justify-content: center;
    position: relative;
}
.title p{
    display: flex;
    justify-content: center;
}
.title p:before {
    content         : "  ";
    background-color: #f68f00;
    height          : 5px;
    width           : 50px;
    position: absolute;
    bottom: 5px;

}

.logo {
    justify-content: center;
    color          : #f68f00;
    font-size      : 2rem;
    padding-top: 15px;
}

.link {
    justify-content: center;

}

.content {
    /* padding-left : 130px;
    padding-top  : 30px; */
}


.nd {
position: relative;
}

.nd img {
    max-width  : 100%;
    
}
.hinh{
     /* margin-top: 50px; */
   }

.nd p {
    /* min-height   : 170px; */
    /* width    : 370px; */
    font-size: 17px;
}

.nd span {
    font-weight: bold;
    font-size  : 20px;
}

.content{
    padding: 20px;
}
.nd p{
    padding: 5px;
}